
@{
    Layout = "_ColumnsOne";
}

<section class="bg-light separator-top section-cover">
    <div class="container">
        <div class="row justify-content-left" >
        <div class="col-12 mt-10 text-center">
             <h1>Speaking Service</h1>                
        </div>
        <div class="col-12 mt-8 text-center divider-lg" style="width:initial;"><hr/></div>
        <div class="col-12 text-left" style="margin-top:4em;">
            <div class="row align-items-center justify-content-center presentation-container">
              <div class="col-lg-9 col-md-6 pl-md-7 text-center text-md-left">
                <span class="eyebrow text-primary mb-1">Plant-Based Nutrition</span>
                <h3 class="h2">Intro to My Speaking Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequuntur, voluptas repellendus.</p>
              </div>
              <div class="col-5 col-md-6 col-lg-3" data-aos="zoom-in">
                <div class="presentation-circle">
                  <figure style="background-image: url('Themes/MukeraCleanTheme/Content/assets/images/demo/learning/plant-based-program-image-4.png')"></figure>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="bg-light separator-top section-cover" style="background-color:chocolate;">
    <div class="container">
        <div class="row justify-content-left" >

        <div class="col-12 text-left" style="margin-top:4em;">

        <div class="row align-items-center justify-content-center presentation-container">
          <div class="col-3 col-md-6 col-lg-3" data-aos="zoom-in">
            <div class="presentation-circle">
              <figure style="background-image: url('Themes/MukeraCleanTheme/Content/assets/images/demo/learning/plant-based-program-image-4.png')"></figure>
            </div>
          </div>
          <div class="col-lg-9 col-md-6 pl-md-7 text-center text-md-left">
            <span class="eyebrow text-primary mb-1">Plant-Based Nutrition</span>
            <h3 class="h2">My Earliest Availability</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequuntur, voluptas repellendus.</p>
          </div>
        </div>
        </div>
        </div>
    </div>
</section>
    <!-- cta -->
    <section class="separator-top">
      <div class="container">
        <div class="boxed bg-green p-5 text-white" data-aos="zoom-in">
          <div class="row justify-content-between align-items-center text-center text-md-left">
            <div class="col-md-4">
              <h3>Time to take Action!</h3>
            </div>
            <div class="col-md-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-3 text-md-right mt-2 mt-md-0">
              <a href="" class="btn btn-white btn-rounded px-5">Get Started Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cta -->