@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")


<header class="header-sticky header-dark headroom headroom--top headroom--not-bottom" >
    @await Component.InvokeAsync("TopMenu")
</header>

<!-- The Main Page boy section - start -->
<!-- Breacdcrumb section -->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
@if (IsSectionDefined("Breadcrumb"))
{
    <section class="hero hero-with-header separator-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
                @RenderSection("Breadcrumb") 
            </nav>
          </div>
        </div>
      </div>    
    </section>
}           
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })         
    

<!-- The Main Page body section - start -->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
    @RenderBody()   
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter }) 
<!-- The Main Page body section - end -->


<!-- footer -->
<footer class="bg-light text-gray">
    <section class="component separator-top" style="width:100% !important; max-width:100% !important; padding:0em;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>Sign up for our free newsletter.</h2>
                    <form class="form form-cta mt-2">
                        <div class="form-group">
                            <div class="row" style="padding:1em;">
                                <div class="col-8" style="padding-top:0.5em;">
                                    <input type="email" class="form-control form-control-rounded" id="exampleInputEmail1" placeholder="Insert your email">
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-rounded btn-block">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="separator-top">
            <div class="container py-5">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-5 text-center text-md-left">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Legal Information</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-center">
                        <img class="logo-sm" src="Themes/MukeraCleanTheme/Content/images/logo.png" alt="Logo">
                    </div>
                    <div class="col-md-5 text-center text-md-right">
                        <ul class="socials">
                            <li><a href="" class="icon-facebook text-facebook fs-20"></a></li>
                            <li><a href="" class="icon-instagram text-instagram fs-20"></a></li>
                            <li><a href="" class="icon-twitter text-twitter fs-20"></a></li>
                            <li><a href="" class="icon-linkedin text-linkeding fs-20"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>    
<!-- / footer -->

<div id="form-output-global" class="snackbars"></div>
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>