<div class="page text-center">
  <header class="page-head header-panel-absolute">
    <div class="rd-navbar-wrap" style="height: 220px;">
      <nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="230" class="rd-navbar rd-navbar-center rd-navbar-static" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-panel">
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>

            <h4 class="panel-title veil-md">Pages</h4>

            <button data-rd-navbar-toggle=".rd-navbar-top-panel" class="rd-navbar-top-panel-toggle veil-md"><span></span></button>

            <div class="rd-navbar-top-panel">
              <div class="shell">
                <div class="range range-md-center range-md-middle range-lg-around">
                  <div class="cell-md-3 offset-top-0">
                    <div class="rd-navbar-brand">
                        <a href="index.html" class="reveal-block">
                          <div class="unit unit-xs-middle unit-spacing-xxs">
                            <div class="unit-left">@await Component.InvokeAsync("Logo")</div>
                          </div>
                        </a>

                        <div class="rd-navbar-nav">
                            @await Component.InvokeAsync("HeaderLinks")
                            @await Component.InvokeAsync("FlyoutShoppingCart")
                            @await Component.InvokeAsync("TaxTypeSelector")
                            @await Component.InvokeAsync("CurrencySelector")
                            @await Component.InvokeAsync("LanguageSelector")
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                        </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rd-navbar-menu-wrap clearfix">
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-mobile-scroll">
                <div class="rd-navbar-mobile-header-wrap">
                  <div class="rd-navbar-mobile-brand">
                     @await Component.InvokeAsync("Logo")
                </div>
                <ul class="rd-navbar-nav">
                  <li>             
                     <a href="index.html">Home</a> </li>
                  <li>
                     @await Component.InvokeAsync("TopMenu")
                  </li>
                  <li><a href="contacts.html">Contacts</a> </li>
                  <li class="veil-md"><a href="shopping-cart.html">Shopping Cart (2)</a></li>
                </ul>
                <div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
                  <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-mobile-search-form-input" class="form-label rd-input-label">Search...</label>
                      <input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest">
                    </div>
                    <button type="submit" class="icon fa-search rd-navbar-search-button"></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi">
                <span></span></a>
                 @await Component.InvokeAsync("SearchBox")
            </div>
            <div class="rd-navbar-cart"><span class="icon fa-shopping-cart"></span>
              <a href="shopping-cart.html" class="inset-left-10">2</a></div>
          </div>
        </div>
        </div>
      </nav>
    </div>
  </header>
</div>
