@model LogoModel
<a href="@Url.RouteUrl("Homepage")" class="navbar-brand">
    <img title="" alt="@Model.StoreName" class="navbar-logo navbar-logo-light d-inline-block align-top" src="@Model.LogoPath" style="height:10em !important; max-height:10em;">
</a>